<div class="root">
  <ion-header>
    <h1 class="app-name has-gradient-text ion-text-center">KANBAN</h1>
  </ion-header>

  <div class="board">
    <div class="board-bar">
      <p class="board-name ion-text-center">Board Name</p>
    </div>

      <div id="tasks" class="board-wrapper">
        <div  class="board-columns" cdkDropListGroup>
          <div id="board" style="width: auto" *ngFor="let column of board.columns">
            <div class="board-column">
              <div class="column-title">{{column.name}}</div>

              <div
                class="tasks-container"
                cdkDropList
                [cdkDropListData]="column.tasks"
                (cdkDropListDropped)="drop($event)"
              >
                <div class="task" *ngFor="let item of column.tasks" cdkDrag>
                  {{item}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
